<div class="dropdown-wrapper">
  <div class="dropdown-trigger" (click)="toggle()">
    <ng-content />
  </div>

  @if (open()) {
    <div class="dropdown-panel panel-{{ align() }}" role="menu">

      @if (title()) {
        <div class="dropdown-title">{{ title() }}</div>
      }

      @for (item of items(); track item.label) {
        @if (item.dividerBefore) {
          <div class="dropdown-divider"></div>
        }
        <button
          class="dropdown-item-btn"
          [class.item-danger]="item.danger"
          role="menuitem"
          type="button"
          (click)="runAction(item)"
        >
          @if (item.icon) {
            <i class="bi {{ item.icon }} item-icon"></i>
          }
          <span>{{ item.label }}</span>
        </button>
      }

    </div>
  }

</div>