.search-field {
    flex: 1 1 260px;
    min-width: 200px;
}

.filter-field {
    flex: 0 0 180px;
}

.no-data {
    padding: 32px;
    color: #49454F
}

.small-switch {
    transform: scale(0.8); 
    transform-origin: left center; 
    width: max-content;
  }

