<app-dialog
    [loading]="loading()"
    [submitDisabled] = "form.invalid"
    (submitted)="onSubmit()"
>

<form [formGroup]="form">
    <app-input
    class="mb-3"
    formControlName="name"
    label="Zone Name"
    placeholder="Enter Zone name"
    [customErrorMessage]="getNameError()"
  />

  <mat-form-field appearance="outline" class="filter-field-item">
    <mat-label>Warehouse</mat-label>
    <mat-select formControlName = "warehouseId">
        @for (w of warehouseOptions(); track w) {
        <mat-option [value]="w.id">{{ w.name }}</mat-option>
        }
    </mat-select>
</mat-form-field>
</form>

</app-dialog>