<app-dialog
  [loading]="loading()"
  [submitDisabled]="isInvalid"
  (submitted)="onSubmit()"
>
  <form [formGroup]="form" novalidate>
    <div class="d-flex flex-column gap-3">
      <app-input
        label="Full Name"
        type="text"
        placeholder="Enter your full name"
        prefixIcon="person_outline"
        formControlName="fullName"
      />
      <app-input
        label="Phone Number"
        type="tel"
        placeholder=""
        prefixIcon="phone"
        formControlName="phoneNumber"
      />
    </div>
  </form>
</app-dialog>